# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables (never commit secrets)
.env

# Local database files
*.db
*.sqlite
*.sqlite3
instance/

# macOS
.DS_Store

# Editors
.vscode/
.idea/
/part2/app/__pycache__
/part2/app/api/__pycache__
/part2/app/api/v1/__pycache__
/part2/app/models/__pycache__
/part2/app/persistence/__pycache__
/part2/app/services/__pycache__
/part2/app/utils/__pycache__
/part3/__pycache__
/part3/app/__pycache__
/part3/app/api/__pycache__
/part3/app/api/v1/__pycache__
/part3/app/models/__pycache__
/part3/app/persistence/__pycache__
/part3/app/services/__pycache__
/part3/app/utils/__pycache__
/part3/tests/__pycache__
/part3/test_request.py
/part3/test_request_v2.py
/part3/test_request_v3.py
/part3/test_request_v4.py
/part3/test_request_v5.py
/part3/test_request_v6.py
/part3/learning_validation.py
/part3/todos.md
/part3/__pycache__/config.cpython-314.pyc
/part3/__pycache__/config.cpython-314.pyc
/part3/app/__pycache__
/part3/app/api/__pycache__
/part3/app/api/v1/__pycache__
/part3/app/models/__pycache__
/part3/app/persistence/__pycache__
/part3/app/services/__pycache__
/part3/app/utils/__pycache__
/part3/__pycache__/config.cpython-314.pyc
/part3/__pycache__/config.cpython-314.pyc
/part3/test_hashing_logic_v7.py
/part3/instance/development.db
/part3/VALIDATION_ARCHITECTURE.md
/part3/app/schemas/__pycache__
/part3/debug_validation.py
/part3/test_create_user_error.py
/part3/test_curl_request_v20.py
/part3/test_diagnostic_v1.py
/part3/test_internal_logic.py
/part3/test_complete_flow.py
/part3/test_specific_user.py
/part3/auto_login_and_document.py
/part3/collect_all_tokens.py
/part3/created_users_list.md
/part3/test_admin_auth.py
/part3/test_complete_auth.py
/part3/test_create_and_check_admin.py
/part3/test_create_and_check_admin_v2.py
/part3/exception_handling_guide.md
/part3/auto_login_script.py
/part3/create_and_save_admin.py
/part3/fetch_all_users.py
/part3/full_admin_flow_test.py
/part3/generate_test_credentials.py
/part3/hardcoded_test_flow.py
/part3/inspect_headers_test.py
/part3/new_admin_credentials.md
/part3/test_admin_capabilities.py
/part3/test_admin_workflow.py
/part3/test_all_put_flows.py
/part3/test_full_put_flow.py
/part3/development.db
/part3/not_tests/__pycache__
/part3/not_tests
/part3/test_user.py
/part3/tests
.env
my_test_database.db
/\[dap-terminal\] file
/part3/test_venv
